.vscode
.DS_Store
*.sublime-workspace
.cache
gastest.o
.marscode
.codex
.claude
__pycache__

/build*
/setup
/rust
/prebuilt
/prebuilt-private
/packup
/app
/middleware
/thirdparty
/vendor
/android-ndk*
/vkit-toolchains
/toolchains
