.vscode
.DS_Store
*.sublime-workspace
.cache
gastest.o
.marscode
.codex
.claude

/setup
/setup-ext
/rust
/rust-ext
/build
/build-ext
/prebuilt
/prebuilt-ext
/packup
/packup-ext
/app
/app-ext
/middleware
/middleware-ext
/thirdparty
/thirdparty-ext
/vendor
/vendor-ext
/android-ndk*
