.vscode
.DS_Store
*.sublime-workspace
.cache
gastest.o
.marscode
.codex
.claude

/setup
/rust
/build
/prebuilt
/prebuilt-private
/packup
/app
/middleware
/thirdparty
/vendor
/android-ndk*
/vkit-toolchains
/toolchains
